version: '3.3'

services:

  evolution_appi:
    container_name: evolution
    image: atendai/evolution-api:v1.8.2
    restart: always
    ports:
      - 8080:8080
    env_file:
      - ../.env
    volumes:
      - evolution_instances:/evolution/instances
      - evolution_store:/evolution/store
    command: ['node', './dist/src/main.js']
    expose:
      - 8080

  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared_tunnel
    command: tunnel --url http://host.docker.internal:5000
    depends_on:
      - evolution

volumes:
  evolution_instances:
  evolution_store: